/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/js/auth.js
/public/css/app.css
/storage/*.key
/storage/logs/*
/storage/framework/views/*.php
/vendor
/.idea/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vapor/
.env.production
.env.staging
.env.help
public/js/app.js
public/css/app.css
.DS_Store
*/.DS_Store

